@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html{
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.5;
}

body{
    background-color: rgb(63, 136, 102);
    background-image: url("https://www.transparenttextures.com/patterns/black-linen-2.png");
    color: #fff;
    margin: 0;
}

p{
    font-size: 18px;
    text-align: left;
    text-indent: 30px;
}

@media (max-width: 700px){
    main{
        padding: 40px 5% 40px 5%;
    }
}

@media (min-width: 700px){
    main{
        padding: 40px 10rem 40px 10rem;
    }
}

@media (min-width: 1300px){
    main{
        padding: 40px 28% 40px 28%;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(42, 41, 56);
}
::-webkit-scrollbar-track{
    background: #191923;
}