@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html{
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.5;
}

body{
    background-color: rgb(66, 167, 120);
    color: #fff;
    margin: 0;
    /* background-color: #878c00; */
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

header{
    background-color: #191923;
    border-bottom: 4px solid #43435e;
    padding: 0 25% 3px 25%;
}

p{
    font-size: 18px;
    text-align: left;
    text-indent: 30px;
}

nav{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-btnRow{
    /* Distribui os objetos da melhor forma possível */
    display: flex; 
    /* Forma como os objetos aparecem na lista - None remove os círculos dos itens */
    list-style: none;
    width: unset;
    /* Apresenta os objetos em forma de linha */
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin: unset;
    height: 100%;
    background-color: transparent;
    padding: 0;
}

.navbar-btn{
    align-items: center;
    display: flex;
    color: rgb(145, 145, 145);
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    padding: 0px 20px;
    font-size: large;
    height: 100%;
    transition: all 500ms ease;
}

.navbar-btn:hover{
    color:#fff;
}

.navbar-btn:focus{
    color:#fff;
}

.active-btn-indicator{
    border-bottom: 3px solid transparent;
}

.active-btn-indicator:hover{
    border-bottom: 3px solid rgb(41, 165, 37);
}

.active-btn-indicator:focus{
    border-bottom: 3px solid rgb(41, 165, 37);
}

@media (max-width: 700px){
    main{
        padding: 40px 5% 40px 5%;
    }
    header{
        padding: 0 5% 3px 5%;
    }
    .navbar-btnRow{
        display: block;
    }
    .navbar-btn{
        padding: 5px 20px
    }
    nav{
        height: 100%;
    }
}

@media (min-width: 700px) and (max-width: 1300px){
    main{
        padding: 40px 15% 40px 15%;
    }
    header{
        padding: 0 10% 3px 10%;
    }
}

@media (min-width: 1300px){
    main{
        padding: 40px 28% 40px 28%;
    }
    header{
        padding: 0 25% 3px 25%;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(42, 41, 56);
}
::-webkit-scrollbar-track{
    background: #191923;
}