.container{
    display: block;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container > li {
    background-color: #191923;
    border-radius: 3px 20px 3px 20px;
    padding: 5px 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.post-btn{
    color: #fff;
    display: flex;
    align-items: center; 
    text-decoration: none;
    padding: 5px 5px;
    margin: 15px 10px;
}

.post-btn:hover{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2)
}
